
* {
    border-color: var(--border-color) !important;
}

body {
    background-color: var(--primary-bg);
    color: var(--color);
}

#editorContainer {
    background-color: var(--secondary-bg);
}

/* SCROLLBARS */
::-webkit-scrollbar-track {
    background: var(--secondary-bg);
}

/* EDITOR */
.cm-content {
    color: var(--color);
}

.cm-gutterElement {
    color: var(--color);
}

.cm-gutter {
    background-color: var(--primary-bg);
}

.cm-activeLine {
    background: var(--active-line-bg) !important;
}

.cm-tooltip-autocomplete {
    background-color: var(--action-bg) !important;
    color: var(--color) !important;
}

.cm-activeLineGutter {
    background-color: var(--active-line-bg) !important;
}

.cm-selectionBackground {
    background-color: var(--action-bg) !important;
}

.cm-cursor {
    border-color: var(--color) !important;
}

#tabList .editorTabHeader.selected {
    color: var(--selected-highlight-color);
}

#tabList .editorTabHeader:hover {
    background-color: var(--action-bg);
}

.closeTabButton:hover {
    color: var(--negative-color) !important;
}

.iconButton:hover {
    color: var(--positive-color) !important;
}

/* SYNTAX HIGHLIGHTING */

.tok-keyword {
    color: var(--type-color);
}

.tok-punctuation {
    color: var(--block-color);
}

.tok-typeName {
    color: var(--type-color);
}

.tok-propertyName {
    color: var(--attribute-color);
}

.tok-operator {
    color: var(--comment-color);
}

.tok-string {
    color: var(--string-color);
}

.tok-number {
    color: var(--number-color);
}

.tok-comment {
    color: var(--comment-color);
    font-style: italic;
}

.tok-meta {
    color: var(--block-color) !important;
}

.tok-heading {
    color: var(--attribute-color);
}

.cm-foldPlaceholder {
    background-color: var(--action-bg) !important;
}

.cm-nonmatchingBracket {
    border: 1px solid var(--action-bg) !important;
}

.cm-matchingBracket {
    border: 1px solid var(--action-bg) !important;
}

.cm-search, .cm-search * {
    background-color: var(--primary-bg) !important;
    color: var(--color) !important;
}

.cm-searchMatch {
    background: unset !important;

    border: 1px solid var(--color) !important;
}

.cm-button {
    background-image: unset !important;
    background-color: var(--secondary-bg) !important;
    color: var(--color) !important;
}