:root {
    /* content related */
    --color: #c9c5cd;
    --primary-bg: #1e1e1e;
    --secondary-bg: #131313;
    --border-color: #474747;

    /* misc */
    --negative-color: #bf0000;
    --positive-color: dodgerblue;

    /* editor related */
    --selected-highlight-color: #788cbd;
    --scrollbar-thumb-color: #757575;
    --active-line-bg: rgba(0, 0, 0, 0.48);
    --action-bg: rgb(57, 57, 57);

    /* syntax highlighting */
    --variable-color: var(--color);
    --keyword-color: #ea6822;
    --type-color: #cc5c23;
    --attribute-color: #ad87ff;
    --string-color: #0d7a0d;
    --block-color: #f8f8f8;
    --comment-color: #dfb6b6;
    --number-color: #4f9cf6;
}

div.cm-content[data-language="xml"], div.cm-content[data-language="html"] {
    --type-color: #eccb2a !important;
}

div.cm-content[data-language="java"] {
    --type-color: var(--color) !important;
}
