@import url("./Base.css");

:root {
    --border-color: #474747;
    --primary-bg: #ececec;
    --secondary-bg: #ffffff;
    --selected-highlight-color: #1d59c3;
    --negative-color: #bf0000;
    --positive-color: dodgerblue;
    --action-bg: rgb(193, 193, 193);
    --color: #191919;
    --scrollbar-thumb-color: #757575;
    --active-line-bg: rgba(147, 147, 147, 0.28);
    --type-color: #833d01;
    --attribute-color: #8955fb;
    --string-color: #0d7a0d;
    --block-color: #2e2e2e;
    --comment-color: #635f5f;
    --number-color: #165caf;
}
