:root {
    /* content related */
    --color: #e4e4e2;
    --primary-bg: #1c1c1c;
    --secondary-bg: #000000;
    --border-color: #285000;

    /* misc */
    --negative-color: #ef0c0c;
    --positive-color: #0e73d3;

    /* editor related */
    --selected-highlight-color: #00ff37;
    --scrollbar-thumb-color: #873838;
    --active-line-bg: rgba(93, 126, 76, 0.3);
    --action-bg: rgb(71, 71, 71);

    /* syntax highlighting */
    --variable-color: var(--color);
    --keyword-color: #e3772a;
    --type-color: #e3917c;
    --attribute-color: #ad87ff;
    --string-color: #2cbc2c;
    --block-color: #f8f8f8;
    --comment-color: #7e7e7e;
    --number-color: #4f9cf6;
}

div.cm-content[data-language="xml"], div.cm-content[data-language="html"] {
    --type-color: #eccb2a !important;
}

div.cm-content[data-language="java"] {
    --type-color: var(--color) !important;
}



