:root {
    /* content related */
    --color: #f8ede1;
    --primary-bg: #1e1e1e;
    --secondary-bg: #171717;
    --border-color: #454545;

    /* misc */
    --negative-color: #af2222;
    --positive-color: #1e588f;

    /* editor related */
    --selected-highlight-color: #ba6a01;
    --scrollbar-thumb-color: #303030;
    --active-line-bg: rgba(129, 92, 71, 0.3);
    --action-bg: rgb(71, 71, 71);

    /* syntax highlighting */
    --variable-color: var(--color);
    --keyword-color: #e3772a;
    --type-color: #e3772a;
    --attribute-color: #a58dd3;
    --string-color: #208f20;
    --block-color: #f8f8f8;
    --comment-color: #9a9a9a;
    --number-color: #4f9cf6;
}

div.cm-content[data-language="xml"], div.cm-content[data-language="html"] {
    --type-color: #eccb2a !important;
}

div.cm-content[data-language="java"] {
    --type-color: var(--color) !important;
}



