:root {
    /* content related */
    --color: #000000;
    --border-color: #736565;
    --primary-bg: #dbf3ed;
    --secondary-bg: #c3d8d4;

    /* misc */
    --negative-color: #bf0000;
    --positive-color: dodgerblue;

    /* editor related */
    --selected-highlight-color: #1d59c3;
    --scrollbar-thumb-color: #757575;
    --active-line-bg: rgba(147, 147, 147, 0.28);
    --action-bg: rgb(193, 193, 193);

    /* syntax highlighting */
    --variable-color: var(--color);
    --keyword-color: #b54c17;
    --type-color: #d3690c;
    --attribute-color: #8955fb;
    --string-color: #0d7a0d;
    --block-color: #2e2e2e;
    --comment-color: #635f5f;
    --number-color: #165caf;
}

div.cm-content[data-language="xml"], div.cm-content[data-language="html"] {
    --type-color: #d32424 !important;
}

div.cm-content[data-language="java"] {
    --type-color: var(--color) !important;
}
