* {
    border-color: var(--border-color) !important;
}

body {
    background-color: var(--primary-bg);
    color: var(--color);
}

/* TOP BAR */
.cet-menubar-menu-button {
    cursor: pointer !important;
}

.cet-titlebar {
    background-color: var(--primary-bg) !important;
    color: var(--color) !important;
    font-size: 1.1rem !important;

    transition: 0.5s all ease;
}

.cet-titlebar.inactive * {
    color: gray !important;
    fill: gray !important;
}

.cet-titlebar svg path {
    fill: var(--color);
}

.cet-submenu-indicator, .cet-submenu-indicator path {
    fill: none !important;
    color: var(--color) !important;
}

.cet-titlebar * {
    font-size: 0.9rem !important;
}

.cet-menubar-menu-container {
    background-color: var(--secondary-bg) !important;
    color: var(--color) !important;
}

.cet-submenu {
    background-color: var(--secondary-bg) !important;
    background: var(--secondary-bg) !important;
    color: var(--color) !important;
}

.cet-action-label, .keybinding {
    color: var(--color) !important;
}

.separator, .separator * {
    border-color: var(--color) !important;
    color: var(--color) !important;
    fill: var(--color) !important;
    opacity: 0.5 !important;
}

.cet-action-item.focused {
    background-color: var(--action-bg) !important;
}

.cet-control-icon {
    color: var(--color) !important;
    cursor: pointer;
}

.cet-control-icon:hover {
    background-color: var(--action-bg) !important;
}
/****/

#editorContainer {
    background-color: var(--secondary-bg);
}

/* SCROLLBARS */
::-webkit-scrollbar-track {
    background: var(--secondary-bg);
}

/* EDITOR */
.cm-content {
    color: var(--color);
}

.cm-gutterElement {
    color: var(--color);
}

.cm-gutter {
    background-color: var(--primary-bg);
}

.cm-activeLine {
    background: var(--active-line-bg) !important;
}

.cm-tooltip-autocomplete {
    background-color: var(--action-bg) !important;
    color: var(--color) !important;
}

.cm-activeLineGutter {
    background-color: var(--active-line-bg) !important;
}

.cm-selectionBackground {
    background-color: var(--action-bg) !important;
}

.cm-cursor {
    border-color: var(--color) !important;
}

#tabList .editorTabHeader.selected {
    color: var(--selected-highlight-color);
}

#tabList .editorTabHeader:hover {
    background-color: var(--action-bg);
}

.closeTabButton:hover {
    color: var(--negative-color) !important;
}

.iconButton:hover {
    color: var(--positive-color) !important;
}

/* SYNTAX HIGHLIGHTING */

.tok-keyword {
    color: var(--keyword-color);
}

.tok-definition{
    color: var(--attribute-color);
}

.tok-variableName {
    color: var(--variable-color);
}

.tok-typeName ~ .tok-definition {
    color: var(--color) !important;
}

.tok-punctuation {
    color: var(--block-color);
}

.tok-typeName, .tok-className {
    color: var(--type-color);
}

.tok-literal {
    color: var(--attribute-color);
}

.tok-propertyName {
    color: var(--attribute-color);
}

.tok-operator {
    color: var(--comment-color);
}

.tok-string {
    color: var(--string-color);
}

.tok-number {
    color: var(--number-color);
}

.tok-comment {
    color: var(--comment-color);
    font-style: italic;
}

.tok-atom {
    color: var(--positive-color);
}

.tok-meta {
    color: var(--block-color) !important;
}

.tok-bool {
    color: var(--type-color);
}

.tok-heading {
    color: var(--attribute-color);
}

.cm-foldPlaceholder {
    background-color: var(--action-bg) !important;
}

.cm-nonmatchingBracket {
    border: 1px solid var(--action-bg) !important;
}

.cm-matchingBracket {
    border: 1px solid var(--action-bg) !important;
}

.cm-search, .cm-search * {
    background-color: var(--primary-bg) !important;
    color: var(--color) !important;
}

.cm-searchMatch {
    background: unset !important;

    border: 1px solid var(--color) !important;
}

.cm-button {
    background-image: unset !important;
    background-color: var(--secondary-bg) !important;
    color: var(--color) !important;
}