* {
    border-color: var(--border-color) !important;
}

body {
    background-color: var(--primary-bg);
    color: var(--color);
}

/* APP */
#tabListWrapper, #footer {
    background-color: var(--secondary-bg);
}

/* TOP BAR */
.cet-menubar-menu-button {
    cursor: pointer !important;
}

.cet-titlebar {
    background-color: var(--secondary-bg) !important;
    color: var(--color) !important;
    font-size: 1.1rem !important;

    transition: 0.5s all ease;
}

.cet-titlebar.inactive * {
    color: gray !important;
    fill: gray !important;
}

.cet-titlebar svg path {
    fill: var(--color);
}

.cet-submenu-indicator, .cet-submenu-indicator path {
    fill: none !important;
    color: var(--color) !important;
}

.cet-titlebar * {
    font-size: 0.9rem !important;
}

.cet-menubar-menu-container {
    background-color: var(--action-bg) !important;
    color: var(--color) !important;
}

.cet-submenu {
    background-color: var(--action-bg) !important;
    color: var(--color) !important;
}

.cet-action-label, .keybinding {
    color: var(--color) !important;
}

.separator, .separator * {
    border-color: var(--color) !important;
    color: var(--color) !important;
    fill: var(--color) !important;
    opacity: 0.5 !important;
}

.cet-action-item.focused {
    background-color: var(--action-bg) !important;
}

.cet-control-icon {
    color: var(--color) !important;
    cursor: pointer;
}

.cet-control-icon:hover {
    background-color: var(--action-bg) !important;
}
/****/

/* SCROLLBARS */
::-webkit-scrollbar-track {
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color) !important;
}
/*****/

/* EDITOR */
.ace_content, .ace_tooltip {
    color: var(--color);
    background-color: var(--primary-bg);
}

.ace_gutter-layer {
    background-color: var(--secondary-bg);
    color: var(--color);
}

.ace-gutter {
    background-color: var(--primary-bg);
}

.ace_gutter-active-line, .ace_active-line {
    background: var(--active-line-bg) !important;
}

.ace_selection, .ace_selected-word {
    background-color: var(--action-bg) !important;
}

.ace_cursor {
    border-color: var(--color) !important;
}

.ace_search, .ace_search > *, .ace_searchbtn, .ace_button, .ace_search_field{
    background-color: var(--action-bg);
    color: var(--color);
}

.ace_searchbtn:hover, .ace_button:hover {
    background-color: var(--primary-bg);
}

.ace_button.checked {
    background-color: var(--primary-bg);
}

#tabList .editorTabHeader.selected {
    color: var(--selected-highlight-color);
}

#tabList .editorTabHeader.changed {
    font-weight: bold;
}

#tabList .editorTabHeader.changed::after {
    margin-left: 5px;
    content: "*";
}

#tabList .editorTabHeader:hover {
    background-color: var(--action-bg);
}

.closeTabButton:hover {
    color: var(--negative-color) !important;
}

.iconButton:hover {
    color: var(--positive-color) !important;
}

/* SYNTAX HIGHLIGHTING */

.ace_keyword {
    color: var(--keyword-color) !important;
}

.ace_type {
    color: var(--type-color) !important;
}

.ace_attribute-name, .ace_variable {
    color: var(--attribute-color) !important;
}

.ace_tag {
    color: var(--xml-tag-color) !important;
}

.ace_constant, .ace_parameter {
    color: var(--variable-color) !important;
}

.ace_indent-guide {
    opacity: 0.3;
}

.ace_function {
    color: var(--number-color) !important;
}

.ace_markup {
    color: var(--attribute-color) !important;
}

.ace_punctuation, .ace_paren {
    color: var(--block-color) !important;
}

.ace_identifier {
    color: var(--color) !important;
}

.ace_support {
    color: var(--color) !important;
}

.ace_operator {
    color: var(--type-color) !important;
}

.ace_string {
    color: var(--string-color) !important;
}

.ace_number, .ace_numeric {
    color: var(--number-color) !important;
}

.ace_language {
    color: var(--keyword-color) !important;
}

.ace_comment {
    color: var(--comment-color) !important;
    font-style: italic;
}